
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Course Listing</title>
</head>
<body>
	<h1>Courses and Grades Listing</h1>
	<div>
		Welcome <b><span sec:authentication="name">Username</span></b>
		&nbsp;
		CGPA <span th:text=${cgpa}>cgpa</span>
	</div>
	
	<div>
		<a href="/stdnotcourses">View Courses Not taken or enroll into new class</a>
	</div>

	<h2 th:if="${not #lists.isEmpty(Course)}">Course List</h2>
	<table border="1" cellpadding="10" th:if="${not #lists.isEmpty(Course)}">
		<tr>
			<th>Course Id</th>
			<th>Course Name</th>
			<th>Course Description</th>
			<th>Course Type</th>
			<th>Course Credits</th>
			<th>Course Score</th>
			<th>Course Grade</th>
		</tr>
		<tr th:each="course:${Course}">
			<td th:text=${course.id}>Course Id</td>
			<td th:text=${course.name}>Course Name</td>
			<td th:text=${course.description}>Course Description</td>
			<td th:text=${course.type}>Course Type</td>
			<td th:text=${course.credits}>Course Credits</td>
			<td th:text=${course.score}>Course Score</td>
			<td th:text=${course.grade}>Course Grade</td>
		</tr>
	</table>

	 <br/>
</body>
</html>


