<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Enrollments Information</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
		
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<p style="padding-top: 14px;padding-right: 14px">
				Welcome, <b>[[${#request.userPrincipal.principal.fullName}]] </b>
				<span sec:authentication="principal.authorities"></span>
			</p>
  

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lecturer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/studentClassList">View Course Taught</a>
           <a class="dropdown-item" href="/courses">View All Course</a>
           <a class="dropdown-item" href="/time">View Timetable</a>
         
      </li>
     
    </ul>
   
   
	<div>
		<form th:action="@{/logout}" method="post">
			
			<button type="submit" class="btn btn-outline-secondary">Sign Out</button>

		</form>
	</div>
	
  </div>
</nav>



</head> 
<body>
<div class="container text-center">	
	<div sec:authorize="isAuthenticated()">
		
		
	</div>
		<br/><br/>
	
	
	<h1>Enrollment Information</h1>
	
	
	<br/><br/>
	
	

<table class="table table-striped table-bordered">
	<thead class="thead-dark">
		<tr>
			<th>Enrollment Id</th>
			<th>Course Name</th>
			<th>Start Date</th>
			<th>Student Id</th>
			<th>Student Name</th>
			<th>Current Score</th>
			<th colspan="3">Modify Score</th>
			<th>Current Grade</th>
			<th>Current CGPA</th>
		</tr>
	</thead>
	
		<tr th:each="enrollment:${enrollments}">
			<td th:text="${enrollment.enrollmentId}">Enrollment Id</td>
			<td th:text="${enrollment.courseName}">Course Name</td>
			<td th:text="${enrollment.startDate}">Start Date</td>
			<td th:text="${enrollment.studentId}">Student Id</td>
			<td th:text="${enrollment.studentName}">Student Name</td>
			<td th:text="${enrollment.score}">Current Score</td>
			<td colspan="3"><form style="width: 120px" th:action="@{/editScore/}+${enrollment.Studentclassid}+@{/}+${enrollment.enrollmentId}" method="POST">
				<input style="width: 55px" type="number" name = 'attempt1' th:value="${enrollment.score}" min="0" max="100"/>	
				<button type="submit" class="btn btn-dark" style="margin-top: -3px;width: 55px;text-align: center;padding: 2px;font-size: 12pt;">Save</button>
			</form>
			</td>
				<!--  <input type="text" name = 'attempt1' th:value="${enrollment.score}" />
						<button type="submit" class="btn btn-primary">Save</button></form>
			</td>-->

			<td th:text="${enrollment.grade}">Current Grade</td>
			<td th:text="${enrollment.Cgpa}">Current CGPA</td>
		

	 </tr>
	 
</table>
</div>
</body>
</html>