<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

		<div style="margin-top: 200px; text-align:center" >
			<h1>Error page. Please kindly enter the correct lecuturer's id.</h1>	
			<a href="javascript:history.go(-1)"onMouseOver="self.status.referrer;return ture">Back to Previous Page</a>
		</div>
</body>
</html>