<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Sign Up</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Navbar-->

        <!-- Registeration Form -->
        <div class="col-md-5 col-lg-5 ml-auto" style="margin: auto; margin-top: 200px">
            <form th:action="@{/process_register}" th:object="${user}" method="post">
                <div class="row">

                    <!-- First Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="firstName" type="text" th:field="*{firstName}" name="firstname" placeholder="First Name" class="form-control bg-white border-left-0 border-md">
                    	<a th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></a>
                    </div>

                    <!-- Last Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="lastName" type="text" th:field="*{lastName}" name="lastname" placeholder="Last Name" class="form-control bg-white border-left-0 border-md">
                    	<a th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></a>
                    </div>

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email" th:field="*{email}" type="email" name="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md">
                    	<a th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></a>
                    </div>
                    
                 
				<!-- Phone  -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone text-muted"></i>
                            </span>
                        </div>
                        <input id="email" th:field="*{contactNumber}" type="contactNumber" name="contactNumber" placeholder="Contact Number" class="form-control bg-white border-left-0 border-md">
                    </div>
                    <!-- Role -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
							<i class="fas fa-id-badge text-muted"></i>
                            </span>
                        </div>
                        <select id="roles" name="roles" class="form-control custom-select bg-white border-left-0 border-md">
                            <option value="">Choose your role</option>
                            <th:block th:each="role: ${listRoles}">
                            <option th:value="${role}" th:text="${role}"></option>

                            </th:block>
                        </select>
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password" th:field="*{password}" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md">
                   		<a th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></a>
                    </div>

                   
                    

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-dark" style="width:100%; text-align: center;">Sign Up</button>
                    </div>

                    

                    <!-- Already Registered -->
                    <div class="text-center w-100 mt-4">
                        <p class="text-muted font-weight-bold ">Already Registered? <a th:href="@{/login}" class="text-primary ml-2">Login</a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>