<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="icons/style.css" rel="stylesheet" type="text/css">
		
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<p style="padding-top: 14px;padding-right: 14px">
				Welcome, <b>[[${#request.userPrincipal.principal.fullName}]] </b>
				<span sec:authentication="principal.authorities"></span>
			</p>
  

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    
    
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lecturer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/studentClassList">View Course Taught</a>
           <a class="dropdown-item" href="/courses">View All Course</a>
           <a class="dropdown-item" href="/time">View Timetable</a>
         
      </li>
      
   
    
      
    </ul>
   
   
	<div>
		<form th:action="@{/logout}" method="post">
			
			<button type="submit" class="btn btn-outline-secondary">Sign Out</button>

		</form>
	</div>
	
  </div>
</nav>
</head>

<body>
<div class="header" style="text-align: center;">
    <h1>Timetable For Lecturer</h1>
</div>

<div class="main" style="display: flex;">
    <div style="margin-right: 10px;">
        <div id="nav"></div>
    </div>
    <div style="flex-grow: 1">
        <div id="dp"></div>
    </div>
</div>

<!-- DayPilot library -->
<script src="js/daypilot/daypilot-all.min.js"></script>

<script>

    const nav = new DayPilot.Navigator("nav");
    nav.showMonths = 2;
    nav.skipMonths = 2;
    nav.selectMode = "week";
    nav.onTimeRangeSelected = (args) => {
        dp.startDate = args.day;
        dp.update();
        dp.events.load("/api/events");
    };
    nav.init();
    
    


   const dp = new DayPilot.Calendar("dp");
    dp.viewType = "Week";
     dp.moveBy = "none";
     dp.durationBarVisible = false;
     dp.dayBeginsHour = 9;
     dp.dayEndsHour = 17;
    dp.init();
    dp.showAllDayEvents = true;
    dp.events.load("/api/events");


   
</script>

</body>
</html>