<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Edit User</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
		
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<p style="padding-top: 14px;padding-right: 14px">
				Welcome, <b>[[${#request.userPrincipal.principal.fullName}]] </b>
				<span sec:authentication="principal.authorities"></span>
			</p>
  

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lecturer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/lecturers">Manage Lecturer</a>
          <a class="dropdown-item" href="/register">Create New Lecturer</a>
           <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
           <a class="dropdown-item" href="/courses">Assign Lecturer</a>
           </div>
         
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
          <a class="dropdown-item" href="/students">Manage Student</a>
          </div>
          <a class="dropdown-item" href="/register">Create Student</a>
         
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Course
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
          <a class="dropdown-item" href="/courses">Mange Courses</a>
          </div>
          <a class="dropdown-item" href="/new">Create New Course</a>
          
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Enrollment
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
          <a class="dropdown-item" href="admin/enrollment">Manage Enrollment</a>
          </div>
          
          
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student Class
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/adminstudentClassList">Manage Student Class</a>
          
      </li>
    </ul>
        <form th:action="@{/users}" method="get">
			
   <button type="submit" style="margin-right: 8px" class="btn btn-dark">
 	 Users <span class="badge badge-light">9</span>
 	 <span class="sr-only">unread messages</span>
	</button>
	</form>
   
   
	<div>
		<form th:action="@{/logout}" method="post">
			
			<button type="submit" class="btn btn-outline-secondary">Sign Out</button>

		</form>
	</div>
	
  </div>
</nav>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Edit User</h1>
		</div>
		<form th:action="@{/users/save}" th:object="${user}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
			<input type="hidden" th:field="*{id}" />
		<div class="m-3">
			<div class="form-group row">
				<label class="col-4 col-form-label">E-mail: </label>
				<div class="col-8">
					<input type="email" th:field="*{email}" class="form-control" required />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Password: </label>
				<div class="col-8">
					<input type="password" th:field="*{password}" class="form-control" 
							required minlength="6" maxlength="10"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">First Name: </label>
				<div class="col-8">
					<input type="text" th:field="*{firstName}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Last Name: </label>
				<div class="col-8">
					<input type="text" th:field="*{lastName}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-4 col-form-label">Contact Number: </label>
				<div class="col-8">
					<input type="text" th:field="*{contactNumber}"
						class="form-control" required minlength="8" maxlength="8" />
				</div>
			</div>

				<div class="form-group row">
				<label class="col-4 col-form-label">Roles: </label>
				<div class="col-8">
					<th:block th:each="role: ${listRoles}">
					<input type="checkbox" th:field="*{roles}"
						th:text="${role.name}" th:value="${role.id}" class="m-2" />
					</th:block>
				</div>
			</div>			
			
			<div>
				<button type="submit" class="btn btn-primary">Update</button> 
			</div>
		</div>
		</form>
	</div>
</body>
</html>